html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

@keyframes nospin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(0deg); 
    }
}
html{
    scroll-behavior: smooth;
}
.nav{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -32px;
    i{
        font-size: 20px;
        padding: 20px;
        width: 20px;
        background: -webkit-linear-gradient(red, orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    $border: 2px;
    color: #FFF;
    background: #FFF;
    background-clip: padding-box; 
    border: solid $border transparent; 
    border-radius: 100%;
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border; 
        border-radius: inherit; 
        background: linear-gradient(to right, red, orange);
        animation-name: spin;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &:hover{
        cursor: pointer;
        transition: all .3s ease;
        &:before {
            background: linear-gradient(to right,  rgb(78, 11, 233), rgb(11, 152, 233));
        }
        i{ 
            background: -webkit-linear-gradient(rgb(78, 11, 233), rgb(11, 152, 233));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
section:first-child{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
    h1{
        font-family: 'Raleway', sans-serif;
        font-size: 80px;
        color: #111111;
        padding-left: 10px;
        border-left: 2px solid;
        border-image-source: linear-gradient(0deg, red, yellow);
        border-image-slice: 1;
        width: 100%;
        span{
            font-weight: 300;
        }
    }
}
section:nth-child(2){
    height: 100vh;
    width: 100%;
    padding: 100px 180px;
    box-sizing: border-box;
    background-color: #111111;
    h3{
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        display: inline-block;
        position: relative;
        &:after{
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, rgb(78, 11, 233), rgb(11, 152, 233));
            content: '';
            position: absolute;
            left: 0;
            top: 57px;
        }
    }
    h5{
        color: #FFFFFF;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        margin: 20px;
        font-weight: 300;
        text-align: center;
    }
    .skills-outer{
        margin-top: 50px;
    }
    .skills-wrapper{
        padding: 20px 0px;
        clear: both;
        display: flex;
        justify-content: space-between;
        .skill{
            padding: 15px 0px;
            display: flex;
            justify-content: flex-start;
            p{
                color: #FFFFFF;
                font-size: 30px;
                padding-right: 10px;
                border-right: 1px solid #FFFFFF;
                font-family: 'Raleway', sans-serif;
                width: 200px;
                text-align: right;
                line-height: 50px;
                margin: 0px;
            }
            .rating-wrapper{
                width: 100%;
            }
            .rating{
                margin-left: 10px;
                height: 50px;
                width: 0%;
                background: #111111;
                transition: all 1s ease;
            }
        }
        .skill-group{
            width: 48%;
        }
    }
    .skills-wrapper.markup{
        .rating{
            border: 1px solid;
            border-image-source: linear-gradient(45deg, red, yellow);
            border-image-slice: 1;
        }
    }
    .skills-wrapper.tech{
        .rating{
            border: 1px solid;
            border-image-source: linear-gradient(45deg, rgb(78, 11, 233), rgb(11, 152, 233));
            border-image-slice: 1;
        }
    }
}
section:nth-child(3){
    height: 100vh;
    width: 100%;
    padding: 100px 180px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    h3{
        color: #111111;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        display: inline-block;
        position: relative;
        &:after{
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, red, yellow);
            content: '';
            position: absolute;
            left: 0;
            top: 57px;
        }
    }
    form{
        width: 100%;
        max-width: 500px;
        margin-top: 50px;
        input[type=text]{
            width: 100%;
            -webkit-appearance: none;
            outline: none;
            border: 1px solid #e2e2e2;
            border-radius: 5px;
            height: 45px;
            font-size: 30px;
            color: #111111;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 15px;
            padding: 5px 15px;
            box-sizing: border-box;
        }
        textarea{
            width: 100%;
            -webkit-appearance: none;
            outline: none;
            border: 1px solid #e2e2e2;
            border-radius: 5px;
            font-size: 30px;
            color: #111111;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 15px;
            padding: 15px;
            box-sizing: border-box;
        }
        input[type=submit]{
            width: 250px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #111111;
            font-family: 'Raleway', sans-serif;
            background-color: #FFFFFF;
            font-size: 30px;
            font-weight: 300;
            display: block;
            margin-left: auto;
            transition: all .5s ease;
            &:hover{
                cursor: pointer;
                background: #111111;
                color: #FFFFFF;
            }
        }
    }
}

@media only screen and (max-width: 1160px) {
    section:nth-child(2){
        padding: 40px 20px;
        height: auto;
        .title{
            text-align: center
        }
        .skills-wrapper{
            flex-wrap: wrap;
            .skill-group{
                width: 100%;
                .skill{
                    padding: 10px 0px;
                    p{
                        line-height: 30px;
                        font-size: 20px;
                        width: 110px;
                    }
                    .rating{
                        height: 30px;
                    }
                }
            }
        }
    }
    section:nth-child(3){
        padding: 40px 20px;
        height: auto;
        .title{
            text-align: center
        }
    }
}